.pagination-centered{
    text-align: center;
}
#itemInput{
   text-transform: capitalize; 
}
ul {
  list-style-type: none;
}
img{
   
    height:250px;
    width: auto;
}
h2{
    text-align: center;
    font-family: 'Shrikhand', cursive;
}